.copyright {
	font-family: arial,helvetica,sanserif;
	font-size: 90%;
	background-color: #CFDCED;
	clear: both;
	text-align: center;
	margin: 0px;
	border-top: thin solid #4C6C8F;
}

.logos {
	color: #CFDCED;
}

.externals {
	width: 100%;
	background-color: #7099C5;
	color: #ffffff;
	font-size: 90%;
}

.externals caption {
	text-align: left;
	color: black;
}

.externals th {
	width: 120px;
	text-align: right;
}

.externals td {
	background-color: #f0f0ff;
	color: black;
}

.externals_table {
	width: 100%;
	background-color: #7099C5;
	color: #ffffff;
	font-size: 90%;
}

.externals_th {
	width: 5%;
	text-align: right;
}

.externals_td {
	background-color: #f0f0ff;
	color: black;
}

.logos_bar {
	font-family: arial,helvetica,sanserif;
	font-size: 90%;
	background-color: #CFDCED;
	clear: both;
	text-align: center;
	margin: 0px;
	border-top: thin solid #4C6C8F;
}

.download {
	font-family: arial,helvetica,sanserif;
	font-size: 90%;
	background-color: #CFDCED;
	clear: both;
	text-align: center;
	margin: 0px;
	border-top: thin solid #4C6C8F;
}

.main {
	margin: 0px;
}

.title {
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #CFDCED;
	clear: both;
	text-align: center;
	margin: 0px;
	border-top: thin solid #4C6C8F;
}
